/* Website Heading */
#main-heading{
    text-align:center;
    vertical-align: middle;
    margin-left:450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

/*Logo of website*/
#logo{
  position: fixed;
  top: 20px;
  left: 10px;
  height:60px;
  width: 70px;
  border: 3px solid #73AD21;
}   
/* User Icon Right side of  Website*/   
#icon{
  font-size: 2.2em;
  margin-left: 400px;
  margin-top: 2px;
  }
#user{
  font-size: 40px;
}
/* Logout Button*/
#logout{
  position: relative;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 0px;
}

/* Body Background*/
body{
  background-color: #c2cad0;
  /* background-image: url('../Assest/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

/* DashBoard Navbar */   
   .navbar {
     background-color: #e7717d;
     border: 1px solid #000000;
   }
   .navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .navbar :hover {
     background-color: pink;
     opacity: 1.0;
   } 

/* Admin Product View Table Card*/
#adminView{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/*User Product View Table*/
#productViewByCategory{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Admin Form Card*/
#adminForm{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #c1b0c2;
  border:1px solid black;
}
/* Product Add Form*/
.form-control{
  margin-left: 50%;
  display: block;
  margin-right: 50%;
  
}

#addButton{
  margin-left: 160px;
}

/* Admin View Product Table*/
table, th, td {
  border: 1px solid black;
  text-align: center;

}
td:hover {background-color: #c2b9b0;}
tr:nth-child(even) {background-color: #afd275;}
/*View By Category Text*/
#category{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Table */
table{
  border: 2px solid black;
}
th{
  background-color: #7e685a;
}
/* Footer in Reacter*/
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e7717d;
  text-align: center;
  margin-top: 50%;
  z-index: -1;
} 
.footer,
.push {
  height: 50px;
}

